<div class="login-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card class="form-wrapper">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="field-wrapper">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="email@example.com"
              formControlName="email"
            />
            <mat-error
              *ngIf="form.controls['email'].errors"
              class="error-wrapper"
            >
              {{ winningError("email")[0] }}
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              id="password"
              type="password"
              formControlName="password"
            />
            <mat-error
              *ngIf="form.controls['password'].errors"
              class="error-wrapper"
            >
              {{ winningError("password")[0] }}
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <div>
          <p>Don't have an account?</p>
          &nbsp;<a routerLink="/register">Register</a>
        </div>
        <button
          mat-button
          type="submit"
          [disabled]="!form.valid"
          color="primary"
        >
          Login
        </button>
      </mat-card-footer>
    </mat-card>
  </form>
</div>
