/* You can add global styles to this file, and also import other style files */

@import 'normalize.css';
@import "variables";

body {
  a {
    text-decoration: none;
    color: white;
  }

  @media only screen and (min-width: 1200px) {
    height: 100%;

    .mat-drawer-content.mat-sidenav-content {
      width: 1200px;
      margin: auto;
    }
  }
}
