<div
  class="app-container"
  [class.is-mobile]="mobileQuery.matches"
  *ngIf="shouldRun"
>
  <mat-toolbar color="primary" class="toolbar">
    <div class="toolbar-wrapper">
      <div>
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/" class="app-name">Devs</a>
      </div>
      <div>
        <a routerLink="/register" *ngIf="!isAuthenticated">Create Account</a>
        <a routerLink="/login" *ngIf="!isAuthenticated">Login</a>
        <a href="#" (click)="onLogout()" *ngIf="isAuthenticated">Logout</a>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard">Dashboard</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
