@import "../../styles/variables";

.dashboard-container {
  margin-top: 2rem;
  padding: 0 1rem;

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-bottom: 1rem;
  }

  .filters, .content {
    padding: 1rem 0;
  }

  h2, h4 {
    text-decoration: underline;
  }

  div {
    ul.dev-list {
      padding-inline-start: 0
    }

    ul.dev-list li {
      list-style: none;
      padding-inline-start: 0
    }

    h3 {
      font-weight: bold;
    }

    .dev-list-container {
      padding: 1rem 0;
    }

    .skill-item {
      padding: .2rem .3rem;
      border: .025rem solid rgba(255,255,255,.12);
      margin-right: .2rem;
      border-radius: $border-radius;
    }
  }
}
