<div class="dashboard-container">
  <div class="header">
    <a routerLink="/developers/new" mat-button color="primary">
      <mat-icon
        aria-hidden="false"
        aria-label="add developer icon"
        fontIcon="add"
      ></mat-icon
      >Add Developer
    </a>
  </div>
  <mat-divider></mat-divider>
  <div class="filters">
    <h2>Search & Filter</h2>
  </div>
  <div class="content">
    <ul class="dev-list">
      <li *ngFor="let developer of developers[0]">
        <div class="dev-list-container">
          <h3>
            {{ developer.user.full_names }} |
            <span>{{ developer.title }}</span>
          </h3>

          <div>
            <h4>Languages & Skills</h4>
            <div>
              <span
                *ngFor="let language of developer.programming_languages"
                class="skill-item"
              >
                {{ language.name }}
              </span>
            </div>
          </div>
          <div></div>
        </div>
        <mat-divider></mat-divider>
      </li>
    </ul>
  </div>
</div>
